<div class="container-payslip col-sm-12">
  <div class="content-header">
    <h1>Manage Issued Payslips</h1>
  </div>
  <div class="search-bar row">
    <div class="col-sm-2">
      <label>Payslip</label>
      <div class="form-group">
        <input type="text" class="form-control" (change)="onChange(payslipId)" [(ngModel)]="payslipId">
      </div>
    </div>
    <div class="col-sm-3">
      <label>Payment Period From</label>
      <div class="form-group">
        <input type="date" class="form-control" [(ngModel)]="paymentPeriodFrom">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Payment Period To</label>
        <input type="date" class="form-control" [(ngModel)]="paymentPeriodTo">
      </div>
    </div>
    <div class="col-sm-3">
      <label>Pay Date</label>
      <div class="form-group">
        <input type="date" class="form-control" [(ngModel)]="payDate">
      </div>
    </div>
    <div class="clear-button">
      <button type="button" class="btn btn-primary" (click)="clear()">Clear</button>
    </div>
  </div>

  <div>
    <div class="card">
      <div class="card-body">
        <table id="bootstrap-data-table" class="table table-striped">
          <thead>
          <tr>
            <th>Payslip</th>
            <th>Payment Period</th>
            <th>Payment Date</th>
            <th>Net Pay</th>
            <th>Status</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of payslips">
            <td>{{ p.id }}</td>
            <td>{{ p.paymentPeriodStartDate | date:'dd/MM/yyyy' }} - {{ p.paymentPeriodEndDate | date:'dd/MM/yyyy' }}</td>
            <td>{{ p.paymentDate | date:'dd/MM/yyyy hh:mm:ss'}}</td>
            <td>{{ p.payNet }}</td>
            <td>{{ p.statusDescription }}</td>
            <td>
                <a [routerLink]="['/payslip-view/', p.id]" *ngIf="p.status === 0">View</a>
                <button type=button class="btn-link" (click)="deletePayslip(p)" *ngIf="p.status === 0" style="color: red">Delete</button>
                <button type=button class="btn-link" (click)="updateStatusToVoid(p)" *ngIf="p.status === 1" style="color: red">Void</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
